:root{
	--mainColor: #f6f7f8;
	--mainColor: #ffb848;
	
	--mainFontColor: #606060;
	
	--navColor: #fafbfc;
	--navColor: #feb;
	
	--navHoverColor: #f6f7f8;
	--navHoverColor: #fca;
	
	--anchorColor: #f60;
	
	--borderColor: #b4b3ba;
	--borderColor: #ffb848;
	
	--posttime: #606060;
	
	--hLightColor: #B4B3BA;
	--hLightColor: #fa4;
	
	--hDarkColor: #747474;
	--hDarkColor: #f80;
	
	--rss: #747474;
	--rss: #fa4;
}	
/**
 * init
 */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--mainFontColor);
}

a:hover {
  color: var(--anchorColor);
}

#wrap {
  width: 100%;
  position: relative;
  height:auto !important;
  height: 100%;
  min-height: 100%;
}

.container {
  width: 1000px;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom:50px;
  overflow: hidden;
}

/**
 * header
 */
.site-header { 
  width: 100%;
  position: fixed;
  background: var(--mainColor);
  height: 60px;
  z-index: 100;
}

.site-header a {
  color: #fff;
  text-decoration: none;
}

.site-header-left {
  padding: 15px 0px 12px 0px;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.site-header-title {
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;
}

.site-header nav{
  width: 1000px;
}

.navs {
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 0;
}

.navs li {
  display: inline-block;
  list-style: none;
}

.navs a {
  background: var(--navColor);
  text-decoration: none;
  color: var(--mainFontColor);
  font-size: 14px;
  padding: 2px 3px 0;
  border: 1px solid var(--borderColor);
}

.navs a:hover {
  background: var(--navHoverColor);
  color: var(--mainFontColor);
}
/**
 * main content
 */
#main {
  clear: left;
  float: left;
  margin-bottom: 50px;
}

/**
 * articles
 */
.article {
  width: 590px;
  padding: 0px 20px 20px 20px;
  clear: left;
  overflow: hidden;
}

.article .summary {
	margin: 1ex 0;
}

.article-meta {
  overflow: hidden;
}

.article .posttime {
  color: var(--posttime);
  font-size: 12px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.article .content {
  clear: left;
  color: var(--mainFontColor);
  margin-bottom: 10px;
}

.article .content ol,
.article .content ul
{
  padding-left: 40px;
}

.article .content a {
  font-size: 14px;
}

.article .content a:hover {
  font-size: 14px;
}

.article .tags a {
  font-size: 10px;
}

.article .tags a:hover {
  font-size: 10px;
}

.article .read-more{
	text-align: right;
}

.article .read-more a{
	color: white;
	background: #0091ca;
	font-size: smaller;
	text-decoration: none;
	display: inline-block;
	padding: 1ex 1em;
}

.article .read-more a:hover,
.article .read-more a:focus{
	background: #35b3ee;
}

/**
 * sidebar
 */
.sidebar {
  width: 310px;
  float: right;
  min-height:200px; 
  height: auto !important; 
  overflow: hidden;
}

.sidebar-content {
  margin-bottom: 30px;
}

.sidebar-header {
  padding: 5px 0px 5px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--borderColor);
}

.sidebar-header span {
  color: var(--mainFontColor);
  margin-bottom: 4px;
  padding-left: 5px;
}

.sidebar .adsense{
  margin: 0 auto;
}

/**
 * tags
 */
.tags {
  overflow: hidden;
}

.tags li {
  float: left;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 2px;
}

.tags a {
  text-decoration: none;
  color: var(--mainFontColor);
  font-size: 14px;
  padding: 2px 3px;
  border: 1px solid var(--borderColor);
}

.tags a:hover {
  background: var(--navHoverColor);
  color: var(--mainFontColor);
  font-size: 14px;
  padding: 2px 3px;
}

/**
 * categories
 */
.categories {
  clear: left;
}

.categories li {
  list-style: none;
  margin-bottom: 3px;
  white-space: nowrap;
}

.categories span {
  display: inline-block;
  background: var(--hLightColor);
  width: 6px;
  height: 6px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.categories a {
  color: #747474;
  text-decoration: none;
  padding: 5px 20px;
  text-align: center;
}

.categories a:hover {
  color: var(--anchorColor);
  list-style: none;
}

/**
 * author
 */
#author {
  margin-left: 14px;
}

#author span {
  display: inline-block;
  margin-bottom: 5px;
}

#author a {
  color: #747474;
  margin-right: 5px;
  list-style: none;
}

#author a:hover {
  color: var(--anchorColor);
}

/**
 * RSS
 */
#rss a {
  color: var(--rss);
  margin-left: 14px;
}

#rss a:hover {
  color: var(--anchorColor);
}


/**
 * footer
 */
#site-footer-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: var(--mainColor);
}

#site-footer {
  clear: left;
  padding-top: 10px;
  min-height:50px; 
  height: 50px;
  padding: 25px 0px 0px 20px;

  width: 1000px;
  margin:0 auto;
}

#site-footer span {
  display: inline-block;
  color: white;
  font-weight: bold;
}

#site-footer a {
  color: white;
}

#site-footer a:hover {
  color: var(--anchorColor);
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
    position: relative;
    padding: 20px 0px 20px 41px;
    color: var(--mainFontColor);
    font-size: 25px;
    min-height: 40px;
    line-height: 40px;
}

h2:before {
    position: absolute;
    top: 30px;
    left: 6px;
    width: 14px;
    height: 14px;
    border: 4px solid var(--hLightColor);
    content: "";
}

h2:after {
    position:  absolute;
    top: 20px;
    left: -4px;
    width: 17px;
    height: 17px;
    border: 4px solid var(--hDarkColor);
    content: "";
}

h3 {
    position: relative;
    padding: 10px 0px 10px 30px;
    color: var(--mainFontColor);
    font-size: 20px;
    min-height: 33px;
    line-height: 33px;
}

h3:before {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 13px;
    height: 13px;
    border: 4px solid var(--hDarkColor);
    content: "";
}

h4 {
    position: relative;
    padding: 10px 0px 10px 25px;
    color: var(--mainFontColor);
    font-size: 16px;
    min-height: 25px;
    line-height: 25px;
    content: "";
}

h4:before {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 10px;
    height: 10px;
    border: 4px solid var(--hLightColor);
    content: "";
}

table {
	border-collapse: collapse;
}
th {
	border-bottom: 2px solid var(--borderColor)!important;
	font-weight: normal;
}
th, td {
	border: 1px solid var(--borderColor);
	text-align: left;
	padding: 0 3px;
}

.article-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--borderColor);
}

.article .adsense {
  margin-top: 25px;
  margin-bottom: 30px;
  display:inline-block;
}

.article .content {
  word-break: break-word;
}

.article .content ul,
.article .content ol,
.article .content p {
  margin-bottom: 20px;
}

.article .content p {
  text-indent: 1ex;
}

.article .content pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.article .content blockquote {
  position: relative;

  background: #F6F7F8;
  padding: 20px 25px 10px 45px;
  margin: 5px 17px 20px 0px;

  font-size: 13px;
  font-style: italic;
}

.article .content blockquote:before{
  position: absolute;
  left: 5px;
  top: 0px;

  content: "\201C";
  font-size: 60px;
  color: #747474;
}

.article .content blockquote p {
  margin-bottom: 5px;
}

.article .content blockquote small {
  display: block;
  text-align:right;
  margin-top: 10px;
}

/**
 * article-list
 */
#articles-list-header h1 {
  font-size: 25px;
  color: var(--mainFontColor);
  text-decoration: none;
  padding-left: 20px;
}

#articles-list-header {
  border-bottom: 1px solid var(--borderColor);
  margin-bottom: 50px;
}

#article-list .article {
  padding: 3ex 0px 3ex 20px;
  margin: 0px 0px 0px 0px;
  border-bottom: 1px solid var(--borderColor);
}

#article-list h2 {
  font-size: x-large;
  padding: 0;
  min-height: 18px;
  line-height: 1;
}

#article-list h2:before {
    border: none;
}

#article-list h2:after {
    border: none;
}

#article-list h2 a {
  color: var(--mainFontColor);
  text-decoration: none;
}

#article-list h2 a:hover {
  color: var(--anchorColor);
}

/**
 * pager
 */
#pager {
  margin-top: 20px;
  margin-bottom: 30px;
  overflow: hidden;
  padding-top: 20px;
  margin: 20px auto 30px auto;
  width: 60%;
}

#pager .pagination li {
  float: left;
  list-style: none;
}

#pager .pagination a {
  display: inline-block;
  text-decoration: none;
  color: var(--mainFontColor);
  font-size: 14px;
  padding: 10px 8px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #747474;
}

#pager .pagination a:hover {
  background: #F6F7F8;
  color: var(--mainFontColor);
  font-size: 14px;
  padding: 10px 8px;
  margin-right: 10px;
}

#pager .pagination .active a {
  padding: 10px 8px;
  background: #747474;
  color: #F6F7F8;
}

.sidebar .adsense {
  width: 300px;
}

.adsense .sponsor-label {
  display: block;
  font-size: 13px;
  color: #747474;
}

#share-buttons {
  clear: left;
  margin-bottom: 20px;
  overflow: auto;
}

#share-buttons li {
  float: left;
  list-style: none;
  margin-right: 10px;
}

.article-footer {
  clear: left;
  padding-top: 30px;
  border-top: 1px solid var(--borderColor);
}

.article-footer .adsense {
  margin-bottom: 30px;
}

.article-footer .tags {
  //margin-bottom: 70px;
}

#disqus_thread {
  margin-bottom: 30px;
}

#pagenavigation-next-prev {
  clear: left;
}

#pagenavigation-next {
  margin-bottom: 15px;
}

#pagenavigation-next-prev span {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

#pagenavigation-next-prev a {
  color: #747474;
  font-size: 14px;
}

#pagenavigation-next-prev a:hover {
  color: var(--anchorColor);
  font-size: 14px;
}

.mobile-only{
	display:none !important;
}

/**
 * responsive styles
 */
@media screen and (max-width: 950px) {
  img { 
    float: none;
  }

  .site-header-left {
    padding: 15px 0px 12px 20px;
    width: auto;
  }

	.site-header nav{
		width: auto;
	}
	.mobile-only{
		display:inline-block !important;
	}
	
  #main {
    float: none;
    width: auto;
    margin-bottom: 0px;
  }

  .container {
    width: auto;
  }

  .content {
    width: auto;
  }

  .article {
    width: auto;
    padding: 0px 10px 0px 10px;
  }

  #article-list .article {
    padding-right: 20px;
  }

  #pager {
    width: 50%;
  }

  .sidebar {
    clear: left;
    float: none;
    margin-left: 10px;
    width: auto;
    padding: 0px;
    margin: 0 auto 70px auto;
	padding-top: 60px;
  }

  .sidebar-header {
    width: auto;
  }

  .sidebar-content {
    width: auto;
  }

  .sidebar .adsense {
    margin-left: 20px;
  }

  #site-footer {
    padding-left: 20px;
    width: auto;
  }

  #articles-list-header h1 {
    padding-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  .site-header-left {
    padding-left: 10px;
  }

  #articles-list-header h1 {
    font-size: 16px;
  }

  #articles-list-header {
    margin-bottom: 20px;
  }

  #article-list h2 {
    font-size: 14px;
  }

  #article-list {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  #article-list .article {
    padding: 0px 10px 18px 10px;
    margin: 20px 0px 0px 0px;
  }

  #pager {
    width: 100%;
    padding-left: 10px;
  }

  .sidebar .adsense {
    margin-left: 10px;
  }

  #site-footer {
    padding: 10px 0px 10px 10px;
  }
}

