@charset "utf-8";
/*----------------------------------------------------------------------------------
		 								動く背景
------------------------------------------------------------------------------------*/
@-webkit-keyframes circle {
	0%		{ -webkit-transform: translateY(0px); opacity: 0;}
	5%		{ -webkit-transform: translateY(100px); opacity: 1;}
	90%		{ -webkit-transform: translateY(1800px); opacity: 1;}
	98%		{ -webkit-transform: translateY(1960px); opacity: 0;}
	100%	{ -webkit-transform: translateY(-20px); opacity: 0;}
}

@-moz-keyframes circle {
	0%		{ -moz-transform: translateY(0px); opacity: 0;}
	5%		{ -moz-transform: translateY(100px); opacity: 1;}
	90%		{ -moz-transform: translateY(1800px); opacity: 1;}
	98%		{ -moz-transform: translateY(1960px); opacity: 0;}
	100%	{ -moz-transform: translateY(-20px); opacity: 0;}
}

@-ms-keyframes circle {
	0%		{ -ms-transform: translateY(0px); opacity: 0;}
	5%		{ -ms-transform: translateY(100px); opacity: 1;}
	90%		{ -ms-transform: translateY(1800px); opacity: 1;}
	98%		{ -ms-transform: translateY(1960px); opacity: 0;}
	100%	{ -ms-transform: translateY(-20px); opacity: 0;}
}

#bg-wrapper {
	position: fixed;
	z-index:	-10;
	width:		100%;
	height:		100%;
	*display: none;
}

#move-bg01,
#move-bg02 {
	z-index:	-10;
	width:		100%;
	height:		100%;
	position: relative;
	*display: none;
}

.bg-circle {
	position: fixed;
	z-index:	-10;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}

/*
.bg-circle-color-01 {
	background-color: rgba(76, 76, 76, 0.9);
}

.bg-circle-color-02 {
	background-color: rgba(254, 255, 86, 0.9);
}

.bg-circle-color-03 {
	background-color: rgba(93, 207, 255, 0.9);
}

.bg-circle-color-04 {
	background-color: rgba(255, 97, 89, 0.9);
}

.bg-circle-color-05 {
	background-color: rgba(95, 255, 91, 0.9);
}
*/

/*
.bg-circle-color-01 {
	background-color: #5dcfff;
}

.bg-circle-color-02 {
	background-color: #feff56;
}

.bg-circle-color-03 {
	background-color: #ff6159;
}

.bg-circle-color-04 {
	background-color: #5fff5b;
}

.bg-circle-color-05 {
	background-color: #4c4c4c;
}
*/


.bg-circle-color-01 {
	background-color: #76E2FF;
}

.bg-circle-color-02 {
	background-color: #FFF876;
}

.bg-circle-color-03 {
	background-color: #FF6E6E;
}

.bg-circle-color-04 {
	background-color: #9FFC92;
}

.bg-circle-color-05 {
	background-color: #828282;
}



.bg-circle-width-01 {
	width: 10px;
	height: 10px;
}

.bg-circle-width-02 {
	width: 30px;
	height: 30px;
}

.bg-circle-width-03 {
	width: 50px;
	height: 50px;
}

.bg-circle-width-04 {
	width: 70px;
	height: 70px;
}


.circle01 {
	animation: circle 95s infinite linear;
	-moz-animation: circle 95s infinite linear;
	-webkit-animation: circle 95s infinite linear;
}

.circle02 {
	animation: circle 150s infinite linear;
	-moz-animation: circle 150s infinite linear;
	-webkit-animation: circle 150s infinite linear;
}

.circle03 {
	animation: circle 190s infinite linear;
	-moz-animation: circle 190s infinite linear;
	-webkit-animation: circle 190s infinite linear;
}

.circle04 {
	animation: circle 210s infinite linear;
	-moz-animation: circle 210s infinite linear;
	-webkit-animation: circle 210s infinite linear;
}
